// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel.post {
  margin-bottom: 5px;
}
.post {
  margin-bottom: 5px;
  display: inline;
  .votes {
    float: left;
    margin-top: 3%;
    a { margin-left: 15%; }
  }

  .content {
    padding-top: 0;
    margin-left: 20%;
  }

}